@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@catppuccin/tailwindcss/macchiato.css";

:root {
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --box-shadow:
        0 2px 6px rgba(30, 32, 48, 0.4), 0 8px 24px rgba(30, 32, 48, 0.5),
        0 16px 32px rgba(30, 32, 48, 0.6);
}
@theme {
    --color-base: #24273a;
    --color-surface0: #1e2030;
    --color-surface1: #181926;
    --color-overlay0: #363a4f;
    --color-overlay1: #494d64;
    --color-text: #cad3f5;
    --color-subtext: #b8c0e0;
    --color-accent: #e2a16f;

    --color-danger: #e26f6f;
    --color-success: #6fe29b;
    --color-warn: #e2c56f;
}

/* Override MDXEditor and all its children */
[class*="mdxeditor"],
._mdxeditor-root-content-editable,
.mdxeditor-root-contenteditable,
div[contenteditable="true"] {
    color: var(--color-text) !important;
}

._listItemChecked_1tncs_73::before {
    --accentSolid: var(--color-accent) !important;
    border-color: var(--color-accent) !important;
    border: 2px;
}

._listItemChecked_1tncs_73::after {
    border-color: var(--color-accent) !important;
}

.standard-input {
    @apply border border-overlay0 rounded-sm px-2 py-1 w-full focus:outline-none focus:ring-2 focus:ring-accent bg-base text-text placeholder:text-overlay1;
}
