@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@catppuccin/tailwindcss/macchiato.css";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@theme {
    --font-mono: "Jetbrains Mono", monospace;
}

:root {
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --box-shadow:
        0 2px 6px rgba(30, 32, 48, 0.4), 0 8px 24px rgba(30, 32, 48, 0.5),
        0 16px 32px rgba(30, 32, 48, 0.6);

    @apply text-sm;
}
@theme {
    --color-base: #24273a;
    --color-surface0: #1e2030;
    --color-surface1: #181926;
    --color-overlay0: #363a4f;
    --color-overlay1: #494d64;
    --color-text: #cad3f5;
    --color-subtext: #b8c0e0;
    --color-accent-50: #fef6ee;
    --color-accent-100: #fcebd9;
    --color-accent-200: #f8d4b2;
    --color-accent-300: #f3b881;
    --color-accent-400: #ed954e;
    --color-accent-500: #e2a16f;
    --color-accent-600: #d4793c;
    --color-accent-700: #b05e31;
    --color-accent-800: #8d4c2d;
    --color-accent-900: #724027;
    --color-accent-950: #3d1f12;

    --color-danger: #e26f6f;
    --color-success: #6fe29b;
    --color-warn: #e2c56f;
}

/* Override MDXEditor and all its children */
[class*="mdxeditor"],
._mdxeditor-root-content-editable,
.mdxeditor-root-contenteditable,
div[contenteditable="true"] {
    color: var(--color-text) !important;
}

._listItemChecked_1tncs_73::before {
    --accentSolid: var(--color-accent-500) !important;
    border-color: var(--color-accent-500) !important;
    border: 2px;
}

._listItemChecked_1tncs_73::after {
    border-color: var(--color-accent-500) !important;
}

.standard-input {
    @apply border border-overlay0 rounded-sm px-2 py-1 w-full focus:outline-none focus:ring-2 focus:ring-accent-500 bg-base text-text placeholder:text-overlay1;
}
